/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
	--main-color: #000028;
	--secondary-color: #ff0070;
	--title-text-color: #ff0070;
	--main-text: #f1b2ce;
	--main-title-color: #db00ff;
	--main-font-size: 18px;
	--bg-color: #000028;
	--bg-img: url(../images/cover-image-dark.png);
}

.theme_dark .rec-dot-text {
	display: block;
}
