/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	--main-color: #353430;
	--title-text-color: #353430;
	--secondary-color: #ff8dcb;
	--main-text: #353430;
	--main-title-color: #ffc2e6;
	--main-font-size: 18px;
	--bg-color: #fff1f7;
	--bg-img: url(../images/cover-image-light.png);
	--hover-btn-color: rgba(50, 49, 45, 0.4);
}
.theme_light .rec-dot-text {
	display: none;
}

.theme_light .header__theme-menu-button:hover {
	border: solid 1px var(--hover-btn-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--main-color: #353430;
		--title-text-color: #353430;
		--secondary-color: #ff8dcb;
		--main-text: #353430;
		--main-title-color: #ffc2e6;
		--bg-color: #fff1f7;
		--main-font-size: 18px;
		--bg-img: url(../images/cover-image-light.png);
		--hover-btn-color: rgba(50, 49, 45, 0.4);
	}

	.rec-dot-text {
		display: none;
	}
	.theme_dark .header__theme-menu-button:hover {
		--hover-btn-color: #ff0070;
		border: solid 1px var(--hover-btn-color);
	}
}
