/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--main-color: #000028;
	--secondary-color: #ff0070;
	--title-text-color: #ff0070;
	--main-text: #f1b2ce;
	--main-title-color: #db00ff;
	--main-font: 'IBM Plex mono', Arial, Helvetica, sans-serif;
	--main-font-size: 18px;
	--bg-img: url(../images/cover-image-dark.png);
	--hover-btn-color: rgba(255, 0, 112, 0.4);
}
